<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.self.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pin1438127</string>
				<string>fb679128588774304</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10.0</string>
	<key>FacebookAppID</key>
	<string>679128588774304</string>
	<key>FacebookDisplayName</key>
	<string>Prototype</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>Captify would like to use your contacts to find all of your friends using this app!</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2014 Captify Inc. All rights reserved.</string>
	<key>UIAppFonts</key>
	<array>
		<string>KiloGram_KG.otf</string>
		<string>Tribbon-B.ttf</string>
		<string>AGENTORANGE.TTF</string>
		<string>American Captain.otf</string>
		<string>Lemondrop.ttf</string>
		<string>Lemondrop Bold.ttf</string>
		<string>GoodDog.otf</string>
		<string>ProximaNova-Sbold.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-Reg.otf</string>
		<string>leaguegothic-regular-webfont.ttf</string>
		<string>fontawesome-webfont.ttf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
